In [150]:
!pip install -U pandasql
import pandas as pd
from pandasql import sqldf

Requirement already satisfied: pandasql in c:\users\elee0\anaconda3\lib\site-packages (0.7.3)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\elee0\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in c:\users\elee0\anaconda3\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pandas in c:\users\elee0\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\elee0\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\elee0\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\elee0\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)
Requirement already satisfied: six>=1.5 in c:\users\elee0\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [216]:
df = pd.read_csv('output.csv')

In [217]:
#Reason why I changed the column name is PandaSQL gave some errors.

df = df.rename(columns={'fake_order#': 'order_number'})

In [218]:
df['id'] = range(1, len(df) + 1)

In [219]:
df.head()

,order_number,sku,category,color,fuel_type,installation_type,price,quantity,subcategories,subtitle,...,type,created_at,msrp,depth,width,height,capacity,cbsa_region,property_state,id
0,PRO100003147,M007,NaN,NaN,NaN,self,23.0,1.0,NaN,Dispose Of Old Appliance - No Cfc'S,...,removal,2021-01-02 15:43:19.347000,NaN,NaN,NaN,NaN,NaN,"Tampa-St. Petersburg-Clearwater, FL",FL,1
1,PRO100003147,M021,NaN,NaN,NaN,self,10.0,1.0,NaN,Disconnect Dishwasher,...,disconnect,2021-01-02 15:43:19.347000,NaN,NaN,NaN,NaN,NaN,"Tampa-St. Petersburg-Clearwater, FL",FL,2
2,PRO100003147,M402,NaN,NaN,NaN,self,45.0,1.0,NaN,"Install Dishwasher, remove tape & packing mate...",...,install,2021-01-02 15:43:19.347000,NaN,NaN,NaN,NaN,NaN,"Tampa-St. Petersburg-Clearwater, FL",FL,3
3,PRO100003147,M421,NaN,NaN,NaN,self,10.0,1.0,NaN,Supply and Attach Dishwasher Cord,...,install,2021-01-02 15:43:19.347000,NaN,NaN,NaN,NaN,NaN,"Tampa-St. Petersburg-Clearwater, FL",FL,4
4,PRO100003147,M435,NaN,NaN,NaN,self,25.0,1.0,NaN,Supply and Install Braided Waterline,...,install,2021-01-02 15:43:19.347000,NaN,NaN,NaN,NaN,NaN,"Tampa-St. Petersburg-Clearwater, FL",FL,5

## Q1 (a)

### Order number

In [209]:
print(sqldf("SELECT COUNT(DISTINCT order_number) FROM df;",locals()))

   COUNT(DISTINCT order_number)
0                         19141

### Total number of appliances ordered

In [155]:
print(sqldf("SELECT SUM(quantity) FROM df WHERE type='APPLIANCE';",locals()))

   SUM(quantity)
0        54709.0

### Total cost of appliances

In [156]:
APPL = sqldf("SELECT SUM(price * quantity) AS total_APP_cost FROM df WHERE type='APPLIANCE';",locals())
print(APPL)

   total_APP_cost
0      27063588.0

### Services total

In [157]:
SERV = sqldf("SELECT SUM(price * quantity) AS total_SER_cost FROM df WHERE (type='removal'OR type='disconnect' OR type='install' OR type='expedited');",locals()) 
print(SERV)

   total_SER_cost
0        675363.0

### Parts total

In [158]:
PART = sqldf("SELECT SUM(price * quantity) AS total_PART_cost FROM df WHERE type='PART';",locals()) 
print(PART)

   total_PART_cost
0         112199.0

### Total

In [159]:
Total = sqldf("SELECT SUM(price * quantity) AS total_cost FROM df;",locals())
print(Total)

   total_cost
0  27851150.0

### Validation of total  with subtotal of three categories

In [160]:
Val = pd.concat([APPL['total_APP_cost'],SERV['total_SER_cost'],PART['total_PART_cost']]).sum()

In [161]:
print(Val == Total['total_cost'])

0    True
Name: total_cost, dtype: bool